<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cita Vacunacion</title>
    
    <link rel="stylesheet" href="formulario.css">

    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
</head>
<body style="background-color: #18A0FB;">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-14 col-sm-11 col-md-9 col-lg-8 col-xl-7 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-5 pb-0 mt-3 mb-3" style="background-color: #AD0000;">
                    <h2 id="heading">Agenda tu cita de Vacunaci&Oacute;n</h2>
            
                    <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Personal</strong></li>
                            <li id="personal"><strong>Contactos</strong></li>
                            <li id="payment"><strong>Ubicaci&oacute;n</strong></li>
                            <li id="cormobilidades"><strong>Cormobilidades</strong></li>
                            <li id="confirm"><strong>Otra Cosa</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="fs-title">Informaci&oacute;n Personal</h2>
                                    </div>
                                    <!-- <div class="col-5">
                                        <h2 class="steps">Step 1 - 4</h2>
                                    </div> -->
                                    <br>
                                    <br>
                                    <br>
                                </div> 
                                <label class="fieldlabels">Documento de Identificaci&oacute;n: </label><br>
                                <input type="text" id="id_persona" name="id_persona" placeholder="000-0000000-0" /><br> 

                                <label class="fieldlabels">Nombre Completo: </label><br>
                                 <input type="text" id="nombreCompleto" name="nombreCompleto" placeholder="Brayan Mu&nacute;oz V." /><br>

                                  <label class="fieldlabels">Fecha de nacimiento: </label><br>
                                  <input type="date" id="fechaNacimiento" name="fechaNacimiento"
                                  value="2000-01-01"
                                  min="1900-01-01" max="2021-12-31"><br> 

                                   <label class="fieldlabels">Sexo: </label><br>
                                   <select id="sexoPersona" name="sexoPersona">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                  </select>

                            </div>
                             <!-- <input type="button" name="next" class="next action-button" value="Siguiente" /> -->
                        </fieldset>
                        <fieldset>
                            <div class="form-card" >
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="fs-title">Contactos:</h2>
                                    </div>
                                    <div class="col-5">
                                        <!-- <h2 class="steps">Step 2 - 4</h2> -->
                                    </div>
                                    <br>
                                </div> <label class="fieldlabels">Correo Electr&oacute;nico:</label><br>
                                 <input type="email" id="emailPersona" name="emailPersona" placeholder="brayanmnz@hotmail.com" /><br>

                                 <label class="fieldlabels">Tel&eacute;fono:</label><br>
                                 <input type="tel" id="telefonoPersona" name="telefonoPersona" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000" required><br> 

                                 <label class="fieldlabels">M&oacute;vil:</label><br>
                                 <input type="tel" id="movilPersona" name="movilPersona" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000" required><br> 

                                <hr class="solid">
                                <div class="col-12">
                                    <h2 class="fs-title">Contacto de Emergencia</h2>
                                </div>
                                  <label class="fieldlabels">Nombre Completo:</label> <br>
                                  <input type="text" name="nombreContacto" id="nombreContacto" placeholder="Brayan Muñoz" /><br>

                                  <label class="fieldlabels">Tel&eacute;fono:</label><br>
                                 <input type="tel" id="telefonoContacto" name="telefonoContacto" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000" required><br> 

                            </div>
                             <input type="button" name="next" class="next action-button" value="Siguiente" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="fs-title">Ubicaci&oacute;n</h2>
                                    </div>
                                    <div class="col-5">
                                        <!-- <h2 class="steps">Step 3 - 4</h2> -->
                                    </div>
                                </div>
                                 <label class="fieldlabels">Provincia:</label> <br>
                                 <input id="provincia" list="provincias" placeholder="Seleccione su Provincia">
                                    <datalist id="provincias">
                                    <option>Santiago de los Caballeros</option>
                                    <option>Santo Domingo</option>
                                   
                                    </datalist><br>

                                    <label class="fieldlabels">Municipio:</label> <br>
                                    <input id="municipio" list="municipios" placeholder="Seleccione su Municipio">
                                    <datalist id="municipios">
                                    <option>Santiago</option>
                                    <option>Cerros de Gurabo</option>
                                      
                                    </datalist> <br>
                                       
                                    <label class="fieldlabels">Sector:</label> <br>
                                    <input id="sector" list="sectores" placeholder="Seleccione su Municipio">
                                    <datalist id="sectores">
                                    <option>Barrio los santos</option>
                                    <option>No se que poner</option>
                                         
                                    </datalist> <br>

                                    <label class="fieldlabels">Seleccionar Ubicaci&oacute;n:</label><br>
                                    
                                    <button id="sendButtonCreate" class="btn btn--radius-2 btn--blue text-black" >Ubicaci&oacute;n</button> 
                                 
                                 <!-- <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                             -->
                                </div> 
                            
                            <input type="button" name="next" class="next action-button" value="Siguiente" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="fs-title">Enfermedades padecidas:</h2>
                                    </div>
                                    <div class="col-5">
                                        <!-- <h2 class="steps">Step 4 - 4</h2> -->
                                    </div>
                                </div> <br><br>
                               
                                <div class="row justify-content-center">
                                    <!-- <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div> -->
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    
                                </div>
                            </div>

                            <input type="button" name="next" class="next action-button" value="Siguiente" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>

                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="fs-title">Otra cosa:</h2>
                                    </div>
                                    <div class="col-5">
                                        <!-- <h2 class="steps">Step 4 - 4</h2> -->
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <!-- <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div> -->
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>

$(document).ready(function(){

var current_fs, next_fs, previous_fs; //fieldsets
var opacity;
var current = 1;
var steps = $("fieldset").length;

setProgressBar(current);

$(".next").click(function(){

current_fs = $(this).parent();
next_fs = $(this).parent().next();

//Add Class Active
$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//show the next fieldset
next_fs.show();
//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
opacity = 1 - now;

current_fs.css({
'display': 'none',
'position': 'relative'
});
next_fs.css({'opacity': opacity});
},
duration: 500
});
setProgressBar(++current);
});

$(".previous").click(function(){

current_fs = $(this).parent();
previous_fs = $(this).parent().prev();

//Remove class active
$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
previous_fs.show();

//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
opacity = 1 - now;

current_fs.css({
'display': 'none',
'position': 'relative'
});
previous_fs.css({'opacity': opacity});
},
duration: 500
});
setProgressBar(--current);
});

function setProgressBar(curStep){
var percent = parseFloat(100 / steps) * curStep;
percent = percent.toFixed();
$(".progress-bar")
.css("width",percent+"%")
}

$(".submit").click(function(){
return false;
})

});
</script>



<script>
      
     if (document.getElementById("sendButtonCreate") != null) {
      document.getElementById("sendButtonCreate").addEventListener("click",function (event) {
        event.preventDefault();


      let form  = {
    "descripcion_Formulario": "Probando desde cliente",
    "dni_persona": document.getElementById("id_persona").value,
    "nombreCompleto_persona": document.getElementById("nombreCompleto").value,
    "fechaNacimiento_persona": document.getElementById("fechaNacimiento").value,
    "sexo_persona": document.getElementById("sexoPersona").value,
    "email_contacto": document.getElementById("emailPersona").value,
    "telefono_contacto": document.getElementById("telefonoPersona").value,
    "movil_contacto": document.getElementById("movilPersona").value,
    "nombreContactoEmergencia": document.getElementById("nombreContacto").value,
    "telefonoContactoEmergencia": document.getElementById("telefonoContacto").value,
    "provincia": document.getElementById("provincia").value,
    "municipio": document.getElementById("municipio").value,
    "sector": document.getElementById("sector").value,
    "latitud": " ",
    "longitud": " " 
    }

    let url = 'http://40.114.9.115:7000/api/formulario/';
        // const token = localStorage.getItem('token');


        fetch(url, {
          method: 'POST', // or 'PUT'
          body: JSON.stringify(form), // data can be `string` or {object}!
          headers:{
            'Content-Type': 'application/json'
          }

        }).then(res => res.json())
                .catch(error => { console.error('Error:', error); })
                .then(response => {
                  //console.log("response.status:"+response.status);
                  //console.log("response.ok:"+response.ok);

                  console.log('Success:', response);
                  if(response != undefined){
                    alert("El formulario ha sido guardado exitosamente.");
                  }
                  window.location.href = "/";
                });
            });     
            }
</script>

</body>
</html>